.chat-head {
  //   border: 2px solid red;
  //   gap: 1vw;
  padding: 0 1vw;
  justify-content: space-between;
  .first-icon {
    gap: 1vw;
    // border: 2px solid red;
  }
  .icons {
    font-size: 1.6vw;
    color: black;
    font-weight: 800;
  }

  .logo-txt {
    padding-right: 5vw;
    // border: 2px solid red;
    background: #fff;
    padding: 0.4vw 1.5vw;
    border-radius: 2vw;
    gap: 0.8vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  }
  .chatbot-icon {
    // border: 2px solid red;
    font-size: 1.2vw;
    background: #ffcb47;
    padding: 0.4vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .txts {
    // border: 2px solid red;
    font-size: 1.2vw;
    color: black;
  }
}
